.shipmentPage-ndr-details {
  padding: 16px;
  overflow: scroll;
  .row-container {
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 16px;
    .heading {
      color: #848484;
      font-weight: 500;
      margin-right: 6px;
    }
    .value {
        color: #212121;
        font-weight: 500;
    }
  }
}
