.connectCompletedBottombar {
  .submit-btn {
    height: 40px;
    width: 200px;
    font-size: 16px;
    background-color: #168f64;
    border-color: transparent;
    color: #fff;
  }
  .submit-btn:hover {
    background-color: #91c1a6 !important;
    border-color: transparent !important;
    color: #fff !important;
  }
}
