.ndrPage-shipmentstatus-col {
  padding: 16px;
  overflow: scroll;
  .attempt-stage{
    width: max-content;
    padding: 3px 9px 2px 8px;
  
    color: #E28930;
    background-color: #F8E3D1;
    margin-bottom: 4px;
  }
  .row-container {
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 16px;
    .heading {
      color: #848484;
      font-weight: 500;
      margin-right: 6px;
    }
    .value {
      color: #848484;
      font-weight: 500;
    }
  }
  .modal-btn {
    padding: 4px 9px 4px 10px;
    font-size: 16px;
    background-color: #f5f4fa;
    border-color: #514de2;
    color: #514de2;
    border-radius: 4px;
  }
  .modal-btn:hover {
    background-color: #514de2 !important;
    border-color: #514de2 !important;
    color: #fff !important;
  }
}
