.ndrJourneyrow-container {
  min-height: 81px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fffaef;
  border: 1px solid #b5a683;
  border-radius: 4px;
  position: relative;
    top: -40px;
  .ndr-remarks-container {
    flex: 1;
    font-size: 13px;
    color: #505050;
    font-weight: 600;
  }
  .bottom-row-container {
    display: flex;
    justify-content: space-between;
    color: #b5a683;
  }
}
.ndrJourneyrow-containerodd{
    background-color: #F5F4FA;
    border: 1px solid #918CAD;
    .bottom-row-container {
        color: #918CAD;
    }
}