.orders-page-modal-header-container {
  color: #848484;
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding: 27px 0 18px 20px;
  position: relative;
  .header-icon {
    margin-right: 6px;
    position: relative;
    top: 1px;
  }
  .btn-container {
    position: absolute;
    right: 7px;
    top: 16px;
    .ant-btn-default {
      box-shadow: none;
      border-color: transparent;
    }
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
      box-shadow: none;
      border-color: transparent;
    }
  }
}
