.bulk-search-bar-container {
  display: flex;
  gap: 2px;
  .bulk-search-container {
    min-width: 599px;
    background-color: #fff;
    height: 40px;
    padding: 4px 4px 4px 12px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    gap:4px;
    .tag-container {
      display: flex;
      gap: 4px;
      .tag {
        display: inline-flex;
        gap: 4px;
        color: #705be5;
        padding: 10px 14px 8px 8px;
        background-color: #f5f4fa;
        height: 32px;
        line-height: 14px;
        border-radius: 4px;
        font-weight: 700;
        svg {
          position: relative;
          cursor: pointer;
          top: -1px;
          path {
            fill: #918cad;
          }
        }
      }
      .plus-order-container {
        display: inline-flex;
        gap: 4px;
        color: #766f9a;
        padding: 10px 14px 8px 8px;
        background-color: #f5f4fa;
        height: 32px;
        line-height: 14px;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        .icon-container {
          position: relative;
          top: -5px;
          svg{
            fill: #848484;
          }
        }
      }
      .plus-order-container:hover{
        svg{
          fill: #46415D;
        }
      }
    }
    .clear-btn {
      color: #e55b5b;
      font-size: 14px;
      display: flex;
      gap: 6px;
      align-items: center;
    }
    .clear-btn:hover {
      color: #e55b5b;
    }
  }
  .newBulk-search-container {
    .submit-btn {
      width: 100%;
      display: flex;
      gap: 6px;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 16px;
      background-color: #c2e2d0;
      border-color: transparent;
      color: #3b644d;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      .icon-container {
        position: relative;
        top: 3px;
      }
    }
    .submit-btn:hover {
      background-color: #91c1a6;
      border-color: transparent;
      color: #3b644d;
    }
  }
}
