.dropship-screen {
  .question-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 24px;
      color: #212121;
      font-weight: 700;
      text-align: left;
    }
    h2 {
      font-size: 16px;
      font-weight: 700;
      color: #505050;
    }
  }

  .question-line {
    text-align: center;
    margin-bottom: 20px;
  }

  .option-wrapper {
    display: flex;

    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    flex-direction: column;

    > div {
      flex: 1;
      min-width: 200px;
    }
  }

  .custom-select-btn {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    justify-content: flex-start;
    padding: 12px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    > div {
      h1 {
        font-size: 16px;
        color: #505050;
      }
      h2 {
        font-size: 16px;
        color: #505050;
        font-weight: 500;
      }
    }

    svg {
      margin-top: 6px;
    }
  }

  .custom-select-btn.selected {
    background-color: #c2e2d0;
    color: #0f0f0f;
    border-color: #0f0f0f;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .button-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .continue-btn {
    width: 170px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
  }

  button[disabled] {
    background-color: #e0e0e0;
  }

  .back-btn {
    background-color: #e0e0e0;
    color: #505050;
    width: 170px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
  }

  .continue-btn {
    background-color: #6200ea;
    color: #fff;
  }
}
