.shipment-checkbox-section-container {
  padding: 16px;
  .section-heading {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .ant-checkbox-wrapper {
    width: 48%;
    font-size: 14px;
    color: #848484;
  }
  .first-row {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
  
  }
}
