.file-bar-container {
  position: relative;
  height: 22px;
  margin-top: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  .file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 8px;
    line-height: 1.5714285714285714;
    flex: auto;
    transition: all 0.3s;
  }
  .delete-icon-container{
   display: none;
   .delete-icon-btn:hover{
background: transparent !important;
   }
  }
}
.file-bar-container:hover{
    background-color: rgba(0, 0, 0, 0.04);
    .delete-icon-container{
        display: block;

       }
}
