.orders-action-modal {
  top: 40px !important;
  width: 97% !important;

  .ant-modal-header {
    margin-bottom: 24px !important;
  }

  .ant-modal-body {
    .orders-action-table {
      position: relative;
      min-height: 100px;
      max-height: 100%;
      overflow: hidden;
    }

    .custom-modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 24px;

      .ant-btn-primary {
        background-color: #168f64 !important;
        padding-left: 92px;
        padding-right: 92px;
        margin-top: 12px;
        height: 40px;

        span {
          color: #fff !important;
          font-weight: 400 !important;
          font-size: 16px !important;
        }

        &:hover {
          background-color: #0e5b40 !important;

          span {
            color: #fff !important;
          }
        }
      }

      .ant-btn-primary[disabled] {
        background-color: #f8f8f8 !important;
        span {
          color: #898989 !important;
        }
      }

      .channel-branding {
        flex-direction: column;
      }
    }
  }

  .total-cost {
    background-color: #eaeaea;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 44px;
    font-size: 14px;
    font-weight: 600;
    color: #46415d;
    gap: 41px;

    span {
      color: #505050;
      font-weight: 700;
      margin-left: 14px;
    }
  }

  .order-issue {
    color: #848484;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
    margin-bottom: 16px;
    .main-heading{
      font-size: 16px;
      color: #212121;
      font-weight: 500;
    }

  }
  .order-issue.remove-mg {
    margin-top: 0px !important;
  }

  .global-table.confirm-order {
    .ant-table-header {
      border-radius: 0 0 0 0 !important;

      table {
        border-radius: 0 0 0 0 !important;
      }
    }
    .ant-table-title {
      border-color: #dddddd !important;
      border-radius: 0 0 0 0 !important;
    }

    .ant-table-cell {
      .ant-picker {
        width: 160px !important;
      }
    }

    .ant-table-thead {
      .ant-table-cell {
        background-color: #46415d !important;
        padding-left: 16px !important;
        border-radius: 0 0 0 0 !important;
        font-size: 14px !important;
        color: #ffffff !important;
        font-weight: 600 !important;
        height: 40px !important;
      }
      .product-detail-heading-container {
        display: flex;
        justify-content: space-between;
      }
    }
    .ant-table-body {
      .ant-table-cell {
        padding-left: 16px !important;
        font-size: 14px;
        font-weight: 700;
        color: #505050;
      }
    }
  }
}
