.escalation-shipment-modal-Container {
  .main-data-container {
    padding: 16px;
    .select-container {
      padding-top: 16px;
    }
    .ant-select {
      width: 100%;
      height: 40px;
      font-weight: 500;
      svg {
        transition: 0.3s all linear;
      }
    }
    .ant-select-open {
      .ant-select-arrow {
        svg {
          transition: all 0.2s linear;
          transform: rotate(180deg);
        }
      }
    }
    .dragger-container {
      padding-top: 16px;
      .heading {
        font-size: 14px;
        color: #9093b4;
        line-height: 16px;
      }
      .sub-heading {
        font-size: 12px;
        color: #848484;
        margin-bottom: 4px;
      }
      .ant-upload-wrapper .ant-upload-drag {
        border: 1px solid #dddddd;
        background-color: #fff;
        .text {
          font-size: 14px;
          color: #9093b4;
        }
      }
    }
    .info-bar-container {
        margin-top: 12px;
        padding: 8px 13px 6px 8px;
        display: flex;
        gap: 4px;
        background-color: #faeed4;
        border-radius: 4px;
        font-size: 12px;
        line-height: 17px;
        color: #505050;
        span {
          color: #e28930;
        }
      }
  }
  .footer-container {
    padding: 16px;

    .submit-btn {
      width: 100%;
      display: flex;
      gap: 6px;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 16px;
      background-color: #c2e2d0;
      border-color: transparent;
      color: #3b644d;
      .icon-container {
        position: relative;
        top: 3px;
      }
    }
    .submit-btn:hover {
      background-color: #91c1a6;
      border-color: transparent;
      color: #3b644d;
    }
  }
}
