.shipment-action-col-container {
  padding: 20px 16px;
  .dropdown-container {
    background-color: #514de2;
    font-size: 16px;

    color: #fff;
    font-weight: 600;
    display: flex;
    height: 40px;
    gap: 6px;
    .sec-icon-container {
      * {
        stroke: #fff;
        fill: #fff;
        transition: 0.3s all linear;
      }
    }
    &:hover {
      background-color: #514de2 !important;
    }
  }

  svg {
    transition: all 0.2s linear !important;
  }

  .ant-dropdown-open {
    .sec-icon-container {
      svg {
        transition: all 0.2s linear;
        transform: rotate(180deg);
      }
    }
  }
  .dropdown-container.ant-dropdown-open:hover {
    color: #ffffff;
    border-color: transparent;
    background-color: #91c1a6;
    transition: 0.3s all linear;

    .sec-icon-container {
      * {
        transition: 0.3s all linear;
      }
    }
  }

  .dropdown-container[disabled] {
    background-color: #f8f8f8f8 !important;

    color: #898989;
    font-weight: 600;
    display: flex;
    gap: 6px;
    .sec-icon-container {
      * {
        stroke: #898989;
        fill: #898989;
        transition: 0.3s all linear;
      }
    }
  }
}


.shipment-action-overlay-container {
  .ant-dropdown-arrow::before {
    background-color: #705be5;
  }
  .ant-dropdown-menu {
    background-color: #f1f0ff;
    border: 1px solid #705be5;
    border-radius: 6px !important;
    width: 270px;
    padding: 0px;
    position: relative;
    .ant-dropdown-menu-item {
      border-bottom: 1px solid #705be5;
      border-radius: 0px !important;
      // padding: 0px !important;
      border-bottom-left-radius: 0px;

      border-bottom-right-radius: 0px;

      .ant-dropdown-menu-title-content {
        font-size: 16px !important;
        color: #705be5 !important;
      }

      .bulk-item {
        font-size: 16px;
        font-weight: 600;
        color: #0f0f0f;
        cursor: pointer;
        padding: 12px 20px 8px 12px;
        span {
          color: #3b644d;
        }
      }
    }
    .ant-dropdown-menu-item:first-of-type {
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
    }
    .ant-dropdown-menu-item:last-of-type {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
    .custom-item-container {
      display: flex;
      justify-content: space-between;
    }

    .ant-dropdown-menu-item.ant-dropdown-menu-item-disabled {
      background-color: #dddddd !important;
      // display: none;
      border-color: #705be5 !important;
      .ant-dropdown-menu-title-content {
        font-size: 16px !important;
        color: #705be5 !important;
      }
    }
    .icon-container {
      position: relative;
      margin-left: 12px;
      top: 2px;
      svg {
        path {
          fill: #898989;
        }
      }
    }
    .icon-container-2 {
      position: relative;
      margin-left: 12px;
      top: 2px;
      .hover {
        display: none;
      }
      .normal {
        display: inline;
      }
    }
    .icon-container-2:hover {
      .hover {
        display: inline;
      }
      .normal {
        display: none;
      }
    }
    .icon-container:hover {
      path {
        fill: #705be5;
      }
    }
    .ant-dropdown-menu-item:last-of-type {
      border-bottom: 0px solid #705be5;
    }
  }
}

.action-shipment-tick-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      font-size: 12px;
      font-weight: 600 !important;
    }
  }
}
