
/* program section UI---- */

 .programs-card {
  // width: 80%;
  // margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.programs-table .ant-table-thead > tr > th {
  background-color: #fafafa;
  font-weight: bold;
}

.create-program-btn {
  margin-top: 20px;
} 

