.recommentedSectionContainer {
  .heading-section {
    padding-top: 24px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #505050;
    font-weight: 700;
  }
  .collapse-class {
    border-radius: 6px;
    border-color: #dddddd;
    background-color: #ffffff;
    .ant-collapse-item {
      .ant-collapse-expand-icon {
        transition: 0.3s all;
      }
    }

    .ant-collapse-header {
      gap: 6px;
    }
    .ant-collapse-item:first-of-type {
      .ant-collapse-header {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    .ant-collapse-item:last-of-type {
      .ant-collapse-header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      .ant-collapse-content-box {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    .ant-collapse-content-box {
      background-color: #fafafa;
      padding: 25px 64px;
    }

    .ant-collapse-header {
      align-items: center;
      .ant-collapse-header-text {
        flex: 2;
      }
      .header-container {
        display: flex;
        align-items: center;

        gap: 8px;
        font-size: 16px;
        font-weight: 500;
        color: #505050;
      }
      .ant-collapse-extra {
        flex: 1;
        .extra-data-container {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: flex-end;
          gap: 12px;
          .sub-btn {
            display: flex;
            gap: 6px;
            justify-content: center;
            align-items: center;
            height: 36px;
            font-size: 14px;
            background-color: #168f64;
            border-color: transparent;
            color: #fff;
            font-weight: 700;
          }
          .option {
            display: flex;
            width: 109px;
            font-weight: 500;
            align-items: center;
            justify-content: space-between;
            gap: 6px;
            color: #505050;

            svg {
              transition: all 0.3s linear !important;
              transform: rotate(0deg);
            }
          }
        }
      }
    }
    .ant-collapse-expand-icon {
      padding-inline-start: 0 !important;
    }
    .ant-collapse-item.ant-collapse-item-active {
      .option {
        svg {
          transform: rotate(180deg) !important;
          transition: all 0.3s linear !important;
        }
      }
    }

    //active state
    .ant-collapse-item-active {
      .ant-collapse-header {
        background-color: #faeed4;
        .header-container {
          .icon-container {
            circle {
              fill: #fff;
            }
          }
        }
      }
      .ant-collapse-expand-icon {
        transform: rotate(180deg);
        transition: 0.3s all;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .recommentedSectionContainer {
    .ant-collapse-header {
      padding-left: 6px !important;
      padding-right: 6px !important;
    }

    .snap-short-recommend-main-container {
      gap: 12px !important;
      .item {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 6px !important;
        width: calc(50% - 6px) !important;
        .label-container {
          font-size: 12px;
          text-align: center;
        }
      }
    }
    .ant-collapse-item {
      .ant-collapse-content-box {
        padding: 12px !important;
      }
    }

    .ant-collapse-extra {
      .extra-data-container {
        gap: 6px !important;

        font-size: 12px !important;

        button {
          padding: 0px !important;
          padding-left: 6px !important;
          padding-right: 6px !important;
          font-size: 12px !important;
        }
      }
    }

    .header-container {
      font-size: 12px !important;
    }
  }
}
