.global-date-picker {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 16px;

  .date-filter-title {
    font-size: 16px;
    font-weight: 400;
    color: #848484;
    margin-right: 6px;
  }

  .ant-picker-range-separator {
    padding-left: 0px;
    padding-right: 12px;
  }
  .ant-picker {
    height: 40px !important;
    background-color: #fafafa;

    border: 1px solid #dddddd;
    border-radius: 4px !important;
    .ant-picker-input:first-of-type {
      ::placeholder {
        padding-left: 8px;
      }
    }
    .anticon {
      color: #192f4a;
    }
  }
}
