.colbar-container {
  margin-bottom: 8px;
  .main-bar-container {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    padding: 2px 6px 2px 12px;
    min-height: 46px;
    font-size: 14px;
    color: #505050;
    border-radius: 4px;

    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      flex: 1;
    }
    .right {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .drag {
        svg {
          position: relative;
          top: 2px;
        }
      }
      .pin {
        svg {
          position: relative;
          top: 6px;
        }
      }
      .item {
        width: 30%;
        text-align: center;
        .icon-container {
          transition: 0.3s all;
        }
        .open-icon-container {
          svg {
            transform: rotate(180deg);
            stroke: #705be5;
          }
        }
      }
    }
  }
  .custom-radius {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
