.orderInfoContainerModal {
  padding: 19px 0 18px 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1607843137) !important;

  .first-row-container {
    display: flex;
    margin-bottom: 9px;
    .item-1 {
      width: 57%;
      .link {
        font-weight: 700;
      }
    }
    .item-2 {
      .amount {
        font-weight: 700;
      }
    }
    .payment-icon-container {
      position: relative;
      left: -4px;
    }
    .type {
      color: #848484;
      font-size: 14px;
    }
    .divider {
      height: 16px;
      width: 2px;
      display: inline-block;
      background-color: #848484;
      position: relative;
      top: 3px;
      margin: 0 6px;
    }
  }
  .sec-row-container {
    display: flex;
    .item-1 {
      width: 57%;
      .s-o {
        font-weight: 700;
      }
    }
  }
  .payment-icon-container {
    position: relative;
    left: -4px;
  }
  .store-name {
    color: #168f64;
    font-weight: 600;
  }
  .label {
    color: #848484;
    font-size: 14px;
  }
}
