@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;600;700&display=swap");

.forgot-password-form {
  background-color: #fff;
  // min-width: 440px;

  border-radius: 5px;

  .ant-alert-success {
    margin-top: 8px;
  }

  .ant-form-item-explain-error {
    text-align: right;
    margin-top: 8px;
  }

  .submit-btn {
    margin-top: 16px !important;
    margin-bottom: 24px !important;
  }
  .ant-form-item {
    margin-bottom: 16px;
  }
  .heading-bar {
    margin-bottom: 24px;

    .main-heading {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0;
      color: #212121;
      text-align: left;
    }

    .sub-heading {
      font-size: 14px;
      font-weight: 400;
      color: #848484;
      text-align: left;
      margin-bottom: 24px;
    }
  }

  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .ant-btn-cancel {
    background-color: #fff;
    border-radius: 2px !important;

    height: 40px !important;
    width: 100% !important;
    font-size: 14px;
    display: block;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 12px;
    border: 1px solid #898989;

    span {
      color: #898989;
    }
  }

  .contactus-line {
    margin-top: 32px;
    display: block;
    text-align: center;
    color: #212121;

    a {
      color: #0068ff !important;
    }
  }

  .ant-alert-success {
    margin-bottom: 8px;
    font-size: 13px;
  }
}
