.freeze-row {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .plan-select-wraper {
    border: 1.5px solid #6450d3 !important;
    background: #f5f4fa;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 4px;
    min-width: 224px;
    .plan-duration-select {
      // margin-bottom: 6px;
      * {
        box-shadow: none !important;
      }
      .ant-select-selector {
        padding: 0px !important;
        margin-bottom: 6px !important;
        border: none !important;
        background: transparent !important;
        .ant-select-selection-item {
          display: flex;
          font-size: 20px;
          font-weight: 700;
          color: #6450d3;
        }
      }
    }

    .ant-select-open {
      svg {
        transition: all 0.3s linear;
        transform: rotate(180deg) !important;
      }
    }

    .ant-select-arrow {
      width: 18px;
      height: 12px;
      svg {
        transition: all 0.3s linear;
      }
    }
  }

  .action-cell {
    // padding: 20px 24px;
    min-width: 251px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 12px 12px 12px;
    flex: 1;
    vertical-align: middle;
    gap: 12px;
    border-right: 1px solid #dddddd;
    text-align: center;

    .top-text {
      h1 {
        font-size: 22px;
        // margin-bottom: 8px;
        color: #212121;
        font-weight: 700;
      }

      h2 {
        font-size: 20px;
        color: #212121;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 16px;
          font-weight: 400;
          color: #848484;
          margin-left: 8px;
        }
      }

      h3 {
        color: #848484;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 6px;
        margin-top: 6px;
        text-transform: lowercase;
      }

      .saving-div {
        border-radius: 20px;
        background-color: #fede62;
        padding: 5px 14px;
        font-size: 14px;
        color: #212121;

        span {
          text-transform: lowercase;
        }
      }
    }

    .bottom-btn {
      width: 100%;
      .ant-btn {
        height: 48px;
        width: 100%;
        border-color: #212121;
        span {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .ant-btn-primary {
        border: none;

        background: linear-gradient(260deg, #168f64 0%, #419f6a 100%);
        span {
          font-weight: 700;
        }
      }

      .change-plan {
        border: 3px solid #da6c26;
        background: transparent;
        color: #da6c26;
        &:hover {
          color: #fff;
          background: #da6c26;
        }
      }

      .current-plan {
        color: #fff !important;
        background: linear-gradient(260deg, #73a679, #6f9463) !important;
      }
    }
  }

  .action-cell.left {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    svg {
      height: 16px;
      width: 100px;
    }
    h1 {
      text-align: start;
      font-size: 14px;
      // padding: 26px;

      font-weight: 400;
      line-height: 32px;
      color: #212121;
    }
  }

  .action-cell.right {
    text-align: center;
    border-right-color: rgba(142, 91, 194, 1);
    border-right: none;
  }
}

.price-badge.quarterly {
  height: 32px;
  background: linear-gradient(260deg, #e87647 0%, #ef9e1d 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  font-weight: 700;
}

.price-badge.annually {
  background: linear-gradient(260deg, #168f64 0%, #168f64 100%);
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.custom-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 92px;
  padding-right: 92px;
  z-index: 999;
  color: white;
  background: #fafafa;

  box-shadow: 0px 3px 6px #00000020;
}

.custom-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.custom-nav ul li {
  display: inline;
}

.custom-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.custom-nav ul li a:hover {
  text-decoration: underline;
}

.plan-duration-overlay {
  div[role="option"] {
    height: 40px;
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .ant-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
