.bulk-update-via-csv-container {
  .main-container {
    padding: 16px 16px;
    .heading {
      font-size: 14px;
      color: #848484;
    }
    .ant-upload-wrapper .ant-upload-drag {
      border: 1px solid #dddddd;
      .text {
        font-size: 14px;
        color: #848484;
      }
    }
    .footer-container {
      padding-top: 24px;
      .submit-btn {
        width: 100%;
        display: flex;
        gap: 6px;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 16px;

        border-color: transparent;

        margin-bottom: 8px;
        background-color: #d0cde0;
        color: #46415d;
        .icon-container {
          position: relative;
          top: 3px;
        }
      }
      .submit-btn:hover {
        border-color: transparent;

        background-color: #d0cde0;
        color: #46415d;
      }
      .save-btn {
        width: 100%;
        display: flex;
        gap: 6px;
        justify-content: center;
        align-items: center;
        height: 40px;

        font-size: 16px;
        background-color: #c2e2d0;

        color: #3b644d;
      }
      .save-btn:hover {
        background-color: #91c1a6;
        border-color: transparent;
        color: #3b644d;
      }
    }
    .info-box-container {
      background-color: #f5f4fa;
      margin-top: 12px;
      padding: 11px 0px 7px 24px;
      color: #505050;
      font-size: 12px;
      position: relative;
      span {
        color: #514de2;
        font-weight: 600;
      }
      .green {
        color: #168f64;
        font-weight: 600;
      }
      .icon-container {
        position: absolute;
        top: 12px;
        left: 9px;
      }
    }
  }
}
