.ndrpage-ndrJourney-modal {
  .main-container {
    padding: 120px 20px 23px;
    .ndr-journey-timeline-container {
      position: relative;
      top: -35px;
  
      .dot-custom {
        display: inline-block;
        height: 16px;
        width: 16px;
        background-color: #dddddd;
        border-radius: 8px;
      }
    }
  }
}
