// outline button

.vf-outline-btn {
  background: transparent !important;
  color: #fff !important;
  border: 1.5px solid #ffffff;
  border-radius: 4px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
