.shipment-journey-section-container {
  background-color: #fcfcfc;
  margin-bottom: 16px;
  .ant-timeline .ant-timeline-item-head-custom {
    padding: 0;
    line-height: 0;
  }
  .shipment-Timeline-bar {
    padding: 16px;
    display: flex;
    gap: 14px;
    align-items: center;
    border: 1px solid #dddddd;
    border-top: 0px solid #dddddd;
    border-radius: 0px 0px 4px 4px;
    .item-1 {
      color: #848484;
      font-size: 12px;
    }
    .timeline-container {
      flex: 1;
      padding-right: 30%;
    }
    .timeline-container-expended {
      padding-right: 10%;
    }
    .btn-toggle {
      color: #6450d3;
      font-size: 12px;
      font-weight: 700;
      .icon-container {
        margin-left: 6px;
        transition: 0.3s all;
        svg {
          path {
            fill: #6450d3;
          }
        }
      }
      .details-open {
        transform: rotate(180deg);
        transition: 0.3s all;
      }
    }
    .shipment-step-data-container {
      color: #848484;
      font-size: 12px;
      line-height: 18px;
      text-transform: capitalize;
      .date {
        // line-height: 13px;
      }
    }
    .ant-steps .ant-steps-item-title::after {
      background-color: #505050 !important;
    }
    .ant-steps-item-title {
      padding-inline-end: 0px !important;
    }
    .ant-steps-item {
      padding-inline-start: 4px !important;
    }
    .ant-steps-item-icon {
      position: relative;
      top: -3px;
    }
    .shipment-step-data-container.current {
      .label {
        color: #4c7d61;
        font-weight: 700;
      }
      .date {
        color: #212121;
        font-weight: 600;
      }
    }
    .dot {
      width: 10px;
      display: inline-block;
      height: 10px;
      background-color: #91c1a6;
      border-radius: 50px;
    }
    .dot-gray {
      width: 10px;
      display: inline-block;
      height: 10px;
      background-color: #dddddd;
      border-radius: 50px;
    }

    .dot-current {
      width: 10px;
      display: inline-block;
      height: 10px;
      background-color: #91c1a6;
      border-radius: 50px;
      outline: 4px solid #dddddd;
      animation: pulse 3s infinite linear;
    }
    @keyframes pulse {
      0% {
        outline: 4px solid #dddddd;
      }
      25% {
        outline: 2px solid #dddddd;
      }

      100% {
        outline: none;
      }
    }
  }
  .shipment-Timeline-bar-open{
    border-radius: 0px 0px 0px 0px;
  }
  .timeline-section-container {
    padding: 16px;
    padding-top: 36px;
    padding-bottom: 0px;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #dddddd;
    border-radius: 0px 0px 4px 4px;
    .ant-timeline {
      .ant-timeline-item {
        padding-bottom: 8px;
        .dot {
          width: 8px;
          display: inline-block;
          height: 8px;
          background-color: #dddddd;
          border-radius: 50px;
        }
        .ant-timeline-item-content {
          inset-block-start: -24px;
        }
      }
    }
  }
}
